<div class="container">
    

    <div class="omb_login">
    	<h3 class="omb_authTitle">Login</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
        	<div class="col-xs-4 col-sm-2">
				<form action="session/google" method="POST">
				<button type="submit" class="btn btn-lg btn-danger">
        			<i class="fa fa-google-plus"></i> Login with Google</span>
				</button>
				</form>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="email" class="form-control {{#if errors.email }}is-invalid{{/if}}" name="email" placeholder="email address" value="{{user.email}}">
					</div>

					<span class="help-block"></span>			
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control {{#if errors.password }}is-invalid{{/if}}" name="password" placeholder="Password">
					</div><br>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
				<br>
				<a href="../user/signup">You can also create an account (aka Sign Up)</a>
			</div>
    	</div>  	
	</div>
</div>