<h1>Private page</h1>
{{#if user}}
  <div class="m-5">
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: red;">{{ user.name}}</span>. You are. </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock."><br>
    <a href="/session/login">Log Out</a>
  </div>
{{/if}}